<!DOCTYPE HTML>
<html>
<body>
    <div class = "container">
        <div>
            <h1>Hello Spring</h1>
            <h3>회원 기능</h3>
            <p>
                <a href="/members/login">로그인</a>
                <a href="/members/new">회원 가입</a>
                <a href="/members">회원 목록</a>
            </p>
            <h3>게시판 기능</h3>
            <p>
                <a href="/board/new">새 글 작성</a>
                <a href="/board">게시글 조회</a>
            </p>
        </div>
    </div>
</body>
</html>